

.background{
  background: linear-gradient(90deg, #B8C1BA 50%, #d7c0c2 50%);
  margin: 0;
}

.hr {
  margin-bottom: 0;
  width:80px;
}

.girl, .hr {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.text {
margin-top:0;
color:black;
text-align: center;
font-family: 'Work Sans', sans-serif;
}

.PTIC{
  margin-top: 0;
  margin-bottom: 0;
font-family: 'Lora', serif;
color:black;
font-size: 90%;
}

.OS{
  margin-top:0;
  margin-bottom: 0;
  font-family: 'Lora', serif;
  font-size: 380%;
}
a{
  text-decoration: none;
  padding-bottom: 25px;
}

a:visited{
  color:black;
}

h3{
  margin-bottom: 0;
}

h1{
  margin-bottom: 0;
}

h2{
  margin-top: 0;
}
